body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 350px;
}

.screen {
    display: none;
    flex-direction: column;
}

.screen.active {
    display: flex;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
}

input {
    padding: 14px;
    font-size: 18px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background: black;
    color: white;
}

button:active {
    opacity: 0.8;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.user-display {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
