/* =========================
Layout principal
========================= */

.container-mant {
    padding: 16px;
}

.header-mant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mant h1 {
    font-size: 20px;
    font-weight: 600;
}

.btn-filtro {
    background: none;
    border: none;
    font-size: 20px;
}

.breadcrumb {
    font-size: 13px;
    color: #666;
    margin: 10px 0 14px 0;
}

/* =========================
Tabla
========================= */

.table-wrapper {
    background: white;
    border-radius: 12px;
    overflow: auto;
    height: calc(100vh - 140px);
}

/* =========================
Overlay filtros
========================= */

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.overlay.hidden {
    display: none;
}

.panel-filtros {
    width: 100%;
    max-height: 70%;
    background: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 20px;
}

.panel-filtros select {
    width: 100%;
    margin-bottom: 14px;
}

.panel-filtros button {
    width: 100%;
}
